## **Dataset Overview**

- **Data Range:** From 2022-01-01 to 2023-09-01
- **Campaign Markets:** UK(focus) / DE(reference)
- **Observation:** a growing share of conversions occurring outside the UK
- **Analysis tool:** Datacamp > Datalab > SQL

## Analysis framework
In order to find out the potential factors for non-UK conversion increase, this analysis will dive into **_Geo-Targeting Accuracy_** from the location targeting perspective and **_Cross-Border Traffic_** from target audience perspective.

How to define Geo-Targetng / Cross-Border Traffic?
- **conversion country vs. asset country mismatch:** Cross-border traffic occurs when the **_conversion_country (where the conversion happens)_** is different from the **_asset_country (where the campaign is targeted)_**.
- **country code by phone mismatch:** A strong indicator of cross-border traffic is when the **_country_code_by_phone (userâ€™s phone number)_** differs from the **_conversion_country_**. This implies that a user from another country completed a conversion in a different country.



Therefore, in this case, there could be 2 conditions:


1. Condition 1 - Geo-targeting issue: **_accesst_country != conversion_coutry_** > publisher
     - accesst_country = UK
     - conversion_country != UK


2. Condition 2 - target audience : **_country_code_by_phone != conversion_coutry_** > cross-border traffic
- Scenario 1: checks for UK users converting outside the UK
    - accesst_country = UK
    - country_code_by_phone = UK
    - conversion_country != UK
- Scenario 2: checks for non-UK users converting outside the UK, even though the campaign is targeted at the UK
    - accesst_country = UK
    - country_code_by_phone = !UK
    - conversion_country != UK

## Data Analysis - Trend Analysis
### **1. Showcase the UK/Non-UK conversion trend from targeted UK campaigns.**
   - Why do I want to know?
      - The campaign targets UK users, but increasing non-UK conversions could signal geo-targeting issues, platform behavior anomalies, or cross-border traffic. Month-over-month (MoM) analysis helps identify when this trend began and its severity, revealing if it's an anomaly or long-standing issue.
   - So what?
        - **Budget Inefficiency:** Marketing spend intended for UK users is being wasted on non-UK conversions, reducing overall ROI.
        - **Geo-Targeting Accuracy:** Misconfigured geo-targeting impacts UK user reach and conversions
        - **Cross-Border Traffic:** If non-UK conversions are genuine interest, it may suggest potential for expansion, but requires strategic adjustments

### **Findings**
- **UK conversion decline:** UK conversions dropped from 83.5% in January 2022 to just 28.2% by September 2023, indicating a sharp decline in UK-based conversions over time.
- **Non-UK conversion growth:** Non-UK conversions increased steadily, growing from 16.5% in January 2022 to 71.8% by September 2023, highlighting a significant shift in audience location.

As non-UK conversions increased, UK conversions decreased in proportion, suggesting potential cannibalization.

In [14]:
-- UK vs. Non-UK conversion Trend Overview
SELECT 
    month,
    SUM(CASE WHEN conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,
    SUM(CASE WHEN conversion_country = 'UK' THEN conversions ELSE 0 END) / SUM(conversions) AS UK_Conversion_Share,
    SUM(CASE WHEN conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,
    SUM(CASE WHEN conversion_country != 'UK' THEN conversions ELSE 0 END) / SUM(conversions) AS Non_UK_Conversion_Share
FROM 'campaigns.csv'
WHERE asset_country = 'UK'
GROUP BY month
ORDER BY month ASC;

                       month  ...  Non_UK_Conversion_Share
0  2022-01-01 00:00:00+00:00  ...                 0.164783
1  2022-02-01 00:00:00+00:00  ...                 0.216975
2  2022-03-01 00:00:00+00:00  ...                 0.248397
3  2022-04-01 00:00:00+00:00  ...                 0.297409
4  2022-05-01 00:00:00+00:00  ...                 0.331887
5  2022-06-01 00:00:00+00:00  ...                 0.405667
6  2022-07-01 00:00:00+00:00  ...                 0.404280
7  2022-08-01 00:00:00+00:00  ...                 0.402256
8  2022-09-01 00:00:00+00:00  ...                 0.400258
9  2022-10-01 00:00:00+00:00  ...                 0.715337
10 2022-11-01 00:00:00+00:00  ...                 0.549527
11 2022-12-01 00:00:00+00:00  ...                 0.344131
12 2023-01-01 00:00:00+00:00  ...                 0.418447
13 2023-02-01 00:00:00+00:00  ...                 0.530362
14 2023-03-01 00:00:00+00:00  ...                 0.602470
15 2023-04-01 00:00:00+00:00  ...                 0.657625
16 2023-05-01 00:00:00+00:00  ...                 0.681736
17 2023-06-01 00:00:00+00:00  ...                 0.739739
18 2023-07-01 00:00:00+00:00  ...                 0.716778
19 2023-08-01 00:00:00+00:00  ...                 0.685539
20 2023-09-01 00:00:00+00:00  ...                 0.718419

[21 rows x 5 columns]

In [15]:
-- explore the data in the MoM table
WITH campaign_data AS (
    SELECT 
        month,
        SUM(CASE WHEN conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,
        ROUND(SUM(CASE WHEN conversion_country = 'UK' THEN conversions ELSE 0 END) /
                      SUM(conversions), 4) AS UK_Conversion_Share,
        SUM(CASE WHEN conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,
        ROUND(SUM(CASE WHEN conversion_country != 'UK' THEN conversions ELSE 0 END) /
                      SUM(conversions), 4) AS Non_UK_Conversion_Share
    FROM 'campaigns.csv'
    WHERE asset_country = 'UK'
    GROUP BY month
)

SELECT 
    month,
    UK_Conversions,
	-- MoM for UK Conversions
    UK_Conversions - LAG(UK_Conversions, 1) OVER (ORDER BY month) AS UK_Conversions_MoM,
    CONCAT(ROUND(UK_Conversion_Share * 100, 2), '%') AS UK_Conversion_Share,
    -- MoM for UK Conversion Share
    CONCAT(ROUND((UK_Conversion_Share - LAG(UK_Conversion_Share, 1) OVER (ORDER BY month)) * 100, 2), '%') AS UK_Conversion_Share_MoM,
    Non_UK_Conversions,
    -- MoM for Non-UK Conversions
    Non_UK_Conversions - LAG(Non_UK_Conversions, 1) OVER (ORDER BY month) AS Non_UK_Conversions_MoM,
    CONCAT(ROUND(Non_UK_Conversion_Share * 100, 2), '%') AS Non_UK_Conversion_Share,
    -- MoM for Non-UK Conversion Share
    CONCAT(ROUND((Non_UK_Conversion_Share - LAG(Non_UK_Conversion_Share, 1) OVER (ORDER BY month)) * 100, 2), '%') AS Non_UK_Conversion_Share_MoM
FROM campaign_data
ORDER BY 1;

                       month  ...  Non_UK_Conversion_Share_MoM
0  2022-01-01 00:00:00+00:00  ...                            %
1  2022-02-01 00:00:00+00:00  ...                        5.22%
2  2022-03-01 00:00:00+00:00  ...                        3.14%
3  2022-04-01 00:00:00+00:00  ...                         4.9%
4  2022-05-01 00:00:00+00:00  ...                        3.45%
5  2022-06-01 00:00:00+00:00  ...                        7.38%
6  2022-07-01 00:00:00+00:00  ...                       -0.14%
7  2022-08-01 00:00:00+00:00  ...                        -0.2%
8  2022-09-01 00:00:00+00:00  ...                        -0.2%
9  2022-10-01 00:00:00+00:00  ...                        31.5%
10 2022-11-01 00:00:00+00:00  ...                      -16.58%
11 2022-12-01 00:00:00+00:00  ...                      -20.54%
12 2023-01-01 00:00:00+00:00  ...                        7.43%
13 2023-02-01 00:00:00+00:00  ...                        11.2%
14 2023-03-01 00:00:00+00:00  ...                        7.21%
15 2023-04-01 00:00:00+00:00  ...                        5.51%
16 2023-05-01 00:00:00+00:00  ...                        2.41%
17 2023-06-01 00:00:00+00:00  ...                         5.8%
18 2023-07-01 00:00:00+00:00  ...                       -2.29%
19 2023-08-01 00:00:00+00:00  ...                       -3.13%
20 2023-09-01 00:00:00+00:00  ...                        3.29%

[21 rows x 9 columns]

## Data Analysis: Geo-targeting accuracy
By comparing the publishers vs. with the **_conversion_country_** (where the conversion occurred) and **_asset_country_** (marketing targeted country - in this case it's uk), It allows us to detect if there is any potential geo-targeting inefficiencies.

Therefore, I'll dive into condition 1.
1. Condition 1: **_accesst_country != conversion_coutry_** > Geo-targeting issue > publisher
     - accesst_country = UK
     - conversion_country != UK


### **2.  Evaluate the performance of geo-targeting from the publishers for UK and DE.**
- Why Do I Want to Know?
    - I want to see if specific publishers are causing conversions outside the target market, which could indicate geo-targeting issues.

- So What?
    - If certain publishers are off-target, it means wasted ad spend. Identifying them lets us fix the issue or reallocate budget to improve campaign performance.

### **Findings**
- **Higher UK Mismatches:** UK has consistently higher mismatched conversion rates than DE. For example, PublisherS has a 54.6% UK mismatch vs. 21.8% in DE, and PublisherT shows 52% in the UK vs. 28% in DE.
- **DE Performs Better:** DE generally shows lower mismatched rates. PublisherK has 47% UK mismatches but only 26% in DE

### **Recommendations:**
- Focus on urgent publishers with the highest mismatch rates to refine targeting strategies.

In [1]:
-- How mismatches look like from publisher
SELECT 
    publisher,
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) * 100, 2), '%') AS UK_Conversion_Share,
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) * 100, 2), '%') AS Non_UK_Conversion_Share,
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) AS DE_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'DE' THEN conversions ELSE 0 END) * 100, 2), '%') AS DE_Conversion_Share,
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) AS Non_DE_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'DE' THEN conversions ELSE 0 END) * 100, 2), '%') AS Non_DE_Conversion_Share
FROM 'campaigns.csv'
GROUP BY publisher
ORDER BY UK_Conversions DESC;

     publisher  UK_Conversions  ... Non_DE_Conversions  Non_DE_Conversion_Share
0   PublisherB         28937.0  ...            13310.0                   22.28%
1   PublisherA         19774.0  ...             3831.0                    8.18%
2   PublisherS         19123.0  ...             4317.0                   21.86%
3   PublisherK         15155.0  ...             5727.0                   26.08%
4   PublisherN          9517.0  ...               27.0                   17.31%
5   PublisherI          8270.0  ...              406.0                   12.17%
6   PublisherD          7315.0  ...                0.0                        %
7   PublisherT          6034.0  ...             3071.0                   28.23%
8   PublisherG          5212.0  ...             1609.0                   23.31%
9   PublisherO          4849.0  ...              834.0                   25.06%
10  PublisherF          3789.0  ...               32.0                   11.55%
11  PublisherR          2756.0  ...               15.0                    8.02%
12  PublisherJ          2701.0  ...                0.0                        %
13  PublisherM           286.0  ...              581.0                   11.46%
14  PublisherE            92.0  ...               20.0                    4.47%
15  PublisherP            35.0  ...               19.0                   16.24%
16  PublisherH            30.0  ...               11.0                   10.89%
17  PublisherL             8.0  ...                0.0                     0.0%
18  PublisherC             0.0  ...                0.0                     0.0%
19  PublisherQ             0.0  ...                0.0                     0.0%

[20 rows x 9 columns]

### **3.  Evaluate the conversion performance breakdown by the attribution type for UK and DE.**
- Why Do I Want to Know?
    - I want to see conversion performance in each attribution type, which could indicate geo-targeting issues.

- So What?
    - If certain attribution_type are off-target, it means wasted ad spend. Identifying them lets us fix the issue or reallocate budget to improve campaign performance.

### **Findings:**
- **UK Conversions:**
    - Install: 51.79% of conversions come from UK users, while 48.21% are non-UK, indicating that we need to require a better review for better geo-targeting.
    - Retargeting: Strong UK focus with 72.42% of conversions.
    - Reattribution: 88.40% of UK conversions highlight successful win-back efforts.



- **DE Conversions:**
    -  Install: 80.56% of conversions are local, showing highly effective acquisition campaigns.
    -  Retargeting: 90.54% of conversions come from within Germany, indicating strong re-engagement.

In [2]:
-- Check attribution_type for an overview
SELECT 
    attribution_type,
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) * 100, 2), '%') AS UK_Conversion_Share,
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) * 100, 2), '%') AS Non_UK_Conversion_Share,
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) AS DE_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'DE' THEN conversions ELSE 0 END) * 100, 2), '%') AS DE_Conversion_Share,
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) AS Non_DE_Conversions,
    CONCAT(ROUND(SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'DE' THEN conversions ELSE 0 END) * 100, 2), '%') AS Non_DE_Conversion_Share
FROM 'campaigns.csv'
GROUP BY attribution_type
ORDER BY UK_Conversions DESC;

  attribution_type  UK_Conversions  ... Non_DE_Conversions  Non_DE_Conversion_Share
0          install        104782.0  ...            32851.0                   19.44%
1      retargeting         28385.0  ...              930.0                    9.46%
2           reattr           716.0  ...               29.0                   10.78%

[3 rows x 9 columns]

## Data Analysis: Cross-border traffic for target audience insights
By comparing the with the **_conversion_country_** (where the conversion occurred) and **_country_code_by_phone (userâ€™s phone number)_**, it allows us to detect if there is any target audience issue.

Therefore, in this case, we'll look int 2nd conditions:
- Condition 2: **_country_code_by_phone != conversion_coutry_** > target audience > cross-border traffic
    - Scenario 1: checks for UK users converting outside the UK
        - accesst_country = UK
        - country_code_by_phone = UK
        - conversion_country != UK
    - Scenario 2: checks for non-UK users converting outside the UK, even though the campaign is targeted at the UK
        - accesst_country = UK
        - country_code_by_phone = !UK
        - conversion_country != UK

To understand the increase in Non-UK conversions despite geo-targeting being set for the UK, we can evaluate whether the publishers are targeting the correct audience. We will calculate the cross-border traffic for UK-targeted campaigns by analyzing two key metrics: 1) UK users converting outside the UK, and 2) Non-UK users converting outside the UK. This will help us assess the percentage of cross-border traffic in relation to total conversions for UK campaigns.


### **4. Publisher and Cross-Border Traffic Analysis in UK-Targeted Campaigns (with DE Comparison) **
- Why Do I Want to Know?
    - Understanding target audience misalignment in UK and DE markets helps optimize campaign performance by focusing on the right users, and improving ROI.

### **Findings:**
- UK Market:
    - Many publishers show high UK cross-border conversions, especially PublisherB (44.1%), PublisherS (44.6%), and PublisherG (48.9%), indicating significant misalignment in target audience settings.

- DE Market:
    - PublisherB (20.6%) and PublisherG (20.8%) exhibit notable cross-border conversions, suggesting similar challenges with DE audience targeting.

### **Recommendations:**
- Target Audience Review Needed: Both UK and DE markets face cross-border conversion issues, particularly with key publishers, requiring a thorough review of target audience settings.

In [3]:
-- Look into user insights from non-UK conversions with geo-targeting in the UK
WITH non_uk_conversion_users AS (
    SELECT 
        publisher,
        -- Cross-Border Traffic for UK Users Converting Outside the UK
        SUM(CASE WHEN
			country_code_by_phone = 'UK' AND conversion_country != 'UK' 
            THEN conversions ELSE 0 END) AS UK_Phone_Cross_Border_Conversions,

        -- Cross-Border Traffic for Non-UK Users Converting Outside the UK
        SUM(CASE WHEN
			country_code_by_phone != 'UK' AND conversion_country != 'UK' 
            THEN conversions ELSE 0 END) AS Non_UK_Phone_Cross_Border_Conversions,

        -- Total Conversions for UK Campaigns
        SUM(conversions) AS Total_UK_Conversions
    FROM 'campaigns.csv'
    WHERE asset_country = 'UK'
    GROUP BY publisher
),

non_de_conversion_users AS (
    SELECT 
        publisher,
        -- Cross-Border Traffic for DE Users Converting Outside Germany
        SUM(CASE WHEN
			country_code_by_phone = 'DE' AND conversion_country != 'DE' 
            THEN conversions ELSE 0 END) AS DE_Phone_Cross_Border_Conversions,

        -- Cross-Border Traffic for Non-DE Users Converting Outside Germany
        SUM(CASE WHEN
			country_code_by_phone != 'DE' AND conversion_country != 'DE' 
            THEN conversions ELSE 0 END) AS Non_DE_Phone_Cross_Border_Conversions,

        -- Total Conversions for DE Campaigns
        SUM(conversions) AS Total_DE_Conversions
    FROM 'campaigns.csv'
    WHERE asset_country = 'DE'
    GROUP BY publisher
)

-- Join UK and DE CTEs
SELECT 
    COALESCE(non_uk_conversion_users.publisher, non_de_conversion_users.publisher) AS publisher,

    -- UK Metrics
    non_uk_conversion_users.UK_Phone_Cross_Border_Conversions,
    non_uk_conversion_users.Non_UK_Phone_Cross_Border_Conversions,
    non_uk_conversion_users.Total_UK_Conversions,
    
    -- UK Cross-Border Percentage (rounded and concatenated with %)
    CONCAT(ROUND(non_uk_conversion_users.UK_Phone_Cross_Border_Conversions / non_uk_conversion_users.Total_UK_Conversions * 100, 2), '%') AS UK_Phone_Cross_Border_Percentage,
    CONCAT(ROUND(non_uk_conversion_users.Non_UK_Phone_Cross_Border_Conversions / non_uk_conversion_users.Total_UK_Conversions * 100, 2), '%') AS Non_UK_Phone_Cross_Border_Percentage,

    -- DE Metrics
    non_de_conversion_users.DE_Phone_Cross_Border_Conversions,
    non_de_conversion_users.Non_DE_Phone_Cross_Border_Conversions,
    non_de_conversion_users.Total_DE_Conversions,

    -- DE Cross-Border Percentage (rounded and concatenated with %)
    CONCAT(ROUND(non_de_conversion_users.DE_Phone_Cross_Border_Conversions / non_de_conversion_users.Total_DE_Conversions * 100, 2), '%') AS DE_Phone_Cross_Border_Percentage,
    CONCAT(ROUND(non_de_conversion_users.Non_DE_Phone_Cross_Border_Conversions / non_de_conversion_users.Total_DE_Conversions * 100, 2), '%') AS Non_DE_Phone_Cross_Border_Percentage

FROM non_uk_conversion_users 
LEFT JOIN non_de_conversion_users
ON non_uk_conversion_users.publisher = non_de_conversion_users.publisher
ORDER BY non_uk_conversion_users.publisher;

     publisher  ...  Non_DE_Phone_Cross_Border_Percentage
0   PublisherA  ...                                 1.81%
1   PublisherB  ...                                 1.73%
2   PublisherD  ...                                     %
3   PublisherE  ...                                 0.89%
4   PublisherF  ...                                 1.81%
5   PublisherG  ...                                 2.49%
6   PublisherH  ...                                 6.93%
7   PublisherI  ...                                 4.05%
8   PublisherJ  ...                                     %
9   PublisherK  ...                                12.07%
10  PublisherL  ...                                  0.0%
11  PublisherM  ...                                 4.12%
12  PublisherN  ...                                 8.97%
13  PublisherO  ...                                 5.05%
14  PublisherP  ...                                 0.85%
15  PublisherR  ...                                 1.07%
16  PublisherS  ...                                 2.53%
17  PublisherT  ...                                12.67%

[18 rows x 11 columns]

## Data Analysis: UK conversion behavioral insights

### **5.  Evaluate mobility type and activation time to identify key drivers for potential UK/DE conversion growth.**
- Why Do I Want to Know?
    - It helps optimize strategies for increasing UK conversions and improving campaign effectiveness.

### **Findings**
- **TAXI (<2h activation)** is the top driver for UK conversions, while **Private Hire** sees stronger for Non-UK and DE/Non-DE conversions.

In [24]:
SELECT 
    mobility_type,
    duration_install_to_activation,

    -- UK Conversions (campaign targeted at UK, conversion in UK)
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,

    -- Non-UK Conversions (campaign targeted at UK, conversion outside UK)
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,

    -- Germany Conversions (campaign targeted at Germany, conversion in Germany)
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) AS DE_Conversions,

    -- Non-Germany Conversions (campaign targeted at Germany, conversion outside Germany)
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) AS Non_DE_Conversions

FROM 'campaigns.csv'
GROUP BY 1,2
ORDER BY UK_Conversions DESC;

   mobility_type  ... Non_DE_Conversions
0           TAXI  ...             1283.0
1           TAXI  ...              550.0
2           TAXI  ...              591.0
3   Private Hire  ...            14286.0
4          Other  ...              865.0
5   Private Hire  ...             5527.0
6          Other  ...              327.0
7   Private Hire  ...             9559.0
8          Other  ...              316.0
9           TAXI  ...               70.0
10  Private Hire  ...              402.0
11         Other  ...               34.0

[12 rows x 6 columns]

## **Overall Conclusions**
- UK & Non-UK MoM Conversion Performances: 
    - UK conversions dropped from 83.5% to 28.2%, while non-UK conversions surged to 71.8%, indicating geo-targeting issues and cross-border traffic.

- Publisher Geo-Targeting Issues: 
    - Publishers like PublisherS (54%) and PublisherT (52%) show more geo-targeting mismatches in UK campaigns, while DE campaigns have fewer issues.

- Attribution Type Performance: 
    - The Install type is split nearly 50-50 between UK and non-UK conversions, signaling a need for better geo-targeting, while Retargeting and Reattribution perform better in the UK.

- Target Audience from Cross-Border: 
    - High cross-border conversions from key publishers - PublisherB (44.1%), PublisherS (44.6%), and PublisherG (48.9%) suggest audience targeting needs a review in both UK and DE markets.

- Mobility Type: 
    - TAXI with <2h activation boosts UK conversions, while Private Hire drives non-UK and DE conversions.



## **Limitations**
- Missing Data on Phone Country Codes: 
    - Some users donâ€™t have phone country code data, which makes it harder to accurately analyze cross-border traffic and target audience behavior.


- Limited Data Granularity:
    - The dataset gives a good overview at the publisher and mobility type level, but weâ€™re missing deeper details, like user demographics and campaign specifics, which would help pinpoint why certain campaigns are underperforming.

In [20]:
-- how mismatches look like from publisher
SELECT 
    publisher,
    
    -- UK Campaigns
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country = 'UK' THEN conversions ELSE 0 END) AS UK_Conversions,
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country != 'UK' THEN conversions ELSE 0 END) AS Non_UK_Conversions,
    
    -- Mismatches for UK 
    SUM(CASE WHEN asset_country = 'UK' AND conversion_country != country_code_by_phone THEN conversions ELSE 0 END) AS UK_Mismatched_Conversions,
    CONCAT(ROUND(
        SUM(CASE WHEN asset_country = 'UK' AND conversion_country != country_code_by_phone THEN conversions ELSE 0 END) /
        SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) * 100, 2), '%') AS UK_Mismatched_Conversion_Rate,

    -- DE Campaigns
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country = 'DE' THEN conversions ELSE 0 END) AS DE_Conversions,
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country != 'DE' THEN conversions ELSE 0 END) AS Non_DE_Conversions,

    --Mismatches for DE 
    SUM(CASE WHEN asset_country = 'DE' AND conversion_country != country_code_by_phone THEN conversions ELSE 0 END) AS DE_Mismatched_Conversions,
    CONCAT(ROUND(
        SUM(CASE WHEN asset_country = 'DE' AND conversion_country != country_code_by_phone THEN conversions ELSE 0 END) /
        SUM(CASE WHEN asset_country = 'DE' THEN conversions ELSE 0 END) * 100, 2), '%') AS DE_Mismatched_Conversion_Rate

FROM 'campaigns.csv'
GROUP BY 1
ORDER BY UK_Mismatched_Conversions DESC, DE_Mismatched_Conversions DESC;

     publisher  ...  DE_Mismatched_Conversion_Rate
0   PublisherB  ...                         22.29%
1   PublisherS  ...                         28.44%
2   PublisherK  ...                         42.49%
3   PublisherA  ...                          22.5%
4   PublisherT  ...                         43.58%
5   PublisherG  ...                         29.68%
6   PublisherD  ...                              %
7   PublisherJ  ...                              %
8   PublisherO  ...                         31.46%
9   PublisherI  ...                          23.1%
10  PublisherF  ...                         18.77%
11  PublisherN  ...                         26.92%
12  PublisherR  ...                          12.3%
13  PublisherM  ...                         19.21%
14  PublisherE  ...                          6.04%
15  PublisherL  ...                           0.0%
16  PublisherP  ...                         29.06%
17  PublisherH  ...                          7.92%
18  PublisherC  ...                          25.0%
19  PublisherQ  ...                           0.0%

[20 rows x 9 columns]

In [21]:
-- look into user insights from non-uk conversions with geo-tarketing in UK
WITH non_uk_conversion_users AS (
    SELECT 
        publisher,
        -- Cross-Border Traffic for UK Users Converting Outside the UK
        SUM(CASE WHEN
			country_code_by_phone = 'UK' AND conversion_country != 'UK' 
            THEN conversions ELSE 0 END) AS UK_Phone_Cross_Border_Conversions,

        -- Cross-Border Traffic for Non-UK Users Converting Outside the UK
        SUM(CASE WHEN
			country_code_by_phone != 'UK' AND conversion_country != 'UK' 
            THEN conversions ELSE 0 END) AS Non_UK_Phone_Cross_Border_Conversions,

        -- Total Conversions for Non-UK Campaigns
        SUM(CASE WHEN
			conversion_country != 'UK' 
            THEN conversions ELSE 0 END) AS Total_Non_UK_Conversions
    FROM 'campaigns.csv'
    WHERE asset_country = 'UK'
    GROUP BY publisher
),

non_de_conversion_users AS (
    SELECT 
        publisher,
        -- Cross-Border Traffic for DE Users Converting Outside Germany
        SUM(CASE WHEN
			country_code_by_phone = 'DE' AND conversion_country != 'DE' 
            THEN conversions ELSE 0 END) AS DE_Phone_Cross_Border_Conversions,

        -- Cross-Border Traffic for Non-DE Users Converting Outside Germany
        SUM(CASE WHEN
			country_code_by_phone != 'DE' AND conversion_country != 'DE' 
            THEN conversions ELSE 0 END) AS Non_DE_Phone_Cross_Border_Conversions,

        -- Total Conversions for DE Campaigns
        SUM(CASE WHEN
			conversion_country != 'DE' 
            THEN conversions ELSE 0 END) AS Total_Non_DE_Conversions
    FROM 'campaigns.csv'
    WHERE asset_country = 'DE'
    GROUP BY publisher
)

-- Join UK and DE CTEs
SELECT 
    COALESCE(non_uk_conversion_users.publisher, non_de_conversion_users.publisher) AS publisher,

    -- UK Metrics
    non_uk_conversion_users.UK_Phone_Cross_Border_Conversions,
    non_uk_conversion_users.Non_UK_Phone_Cross_Border_Conversions,
    non_uk_conversion_users.Total_Non_UK_Conversions,
    -- UK Cross-Border Percentage
    (non_uk_conversion_users.UK_Phone_Cross_Border_Conversions / non_uk_conversion_users.Total_Non_UK_Conversions) AS UK_Phone_Cross_Border_Percentage,
    (non_uk_conversion_users.Non_UK_Phone_Cross_Border_Conversions / non_uk_conversion_users.Total_Non_UK_Conversions) AS Non_UK_Phone_Cross_Border_Percentage,

    -- DE Metrics
    non_de_conversion_users.DE_Phone_Cross_Border_Conversions,
    non_de_conversion_users.Non_DE_Phone_Cross_Border_Conversions,
    non_de_conversion_users.Total_Non_DE_Conversions,
    -- DE Cross-Border Percentage
    (non_de_conversion_users.DE_Phone_Cross_Border_Conversions / non_de_conversion_users.Total_Non_DE_Conversions) AS DE_Phone_Cross_Border_Percentage,
    (non_de_conversion_users.Non_DE_Phone_Cross_Border_Conversions / non_de_conversion_users.Total_Non_DE_Conversions) AS Non_DE_Phone_Cross_Border_Percentage

FROM non_uk_conversion_users 
LEFT JOIN non_de_conversion_users
ON non_uk_conversion_users.publisher = non_de_conversion_users.publisher
ORDER BY non_uk_conversion_users.publisher;

     publisher  ...  Non_DE_Phone_Cross_Border_Percentage
0   PublisherA  ...                              0.221091
1   PublisherB  ...                              0.077536
2   PublisherD  ...                                   NaN
3   PublisherE  ...                              0.200000
4   PublisherF  ...                              0.156250
5   PublisherG  ...                              0.106899
6   PublisherH  ...                              0.636364
7   PublisherI  ...                              0.332512
8   PublisherJ  ...                                   NaN
9   PublisherK  ...                              0.462720
10  PublisherL  ...                                   NaN
11  PublisherM  ...                              0.359725
12  PublisherN  ...                              0.518519
13  PublisherO  ...                              0.201439
14  PublisherP  ...                              0.052632
15  PublisherR  ...                              0.133333
16  PublisherS  ...                              0.115590
17  PublisherT  ...                              0.449039

[18 rows x 11 columns]

In [22]:
SELECT 
    publisher,

    -- Cross-Border Traffic for UK Users Converting Outside the UK
    SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone = 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) AS UK_Phone_Cross_Border_Conversions,

    -- Cross-Border Traffic for Non-UK Users Converting Outside the UK
    SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone != 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) AS Non_UK_Phone_Cross_Border_Conversions,

    -- Total Conversions for UK Campaigns
    SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) AS Total_UK_Campaign_Conversions,

    -- Percentage of Cross-Border Traffic for UK Phone Users
    (SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone = 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END)) AS UK_Phone_Cross_Border_Rate,

    -- Percentage of Cross-Border Traffic for Non-UK Phone Users
    (SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone != 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END)) AS Non_UK_Phone_Cross_Border_Rate

FROM 'campaigns.csv'
GROUP BY publisher
ORDER BY UK_Phone_Cross_Border_Conversions DESC;

     publisher  ...  Non_UK_Phone_Cross_Border_Rate
0   PublisherB  ...                        0.046364
1   PublisherS  ...                        0.099953
2   PublisherK  ...                        0.173276
3   PublisherA  ...                        0.061584
4   PublisherG  ...                        0.051081
5   PublisherO  ...                        0.051951
6   PublisherT  ...                        0.255985
7   PublisherJ  ...                        0.302279
8   PublisherD  ...                        0.374876
9   PublisherI  ...                        0.083905
10  PublisherF  ...                        0.062986
11  PublisherR  ...                        0.070386
12  PublisherN  ...                        0.010327
13  PublisherM  ...                        0.132867
14  PublisherE  ...                        0.023622
15  PublisherL  ...                        0.095238
16  PublisherP  ...                        0.050000
17  PublisherH  ...                        0.031250
18  PublisherC  ...                             NaN
19  PublisherQ  ...                             NaN

[20 rows x 6 columns]

In [23]:
SELECT 
    mobility_type,
    duration_install_to_activation,

    -- Cross-Border Traffic for UK Users Converting Outside the UK
    SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone = 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) AS UK_Phone_Cross_Border_Conversions,

    -- Cross-Border Traffic for Non-UK Users Converting Outside the UK
    SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone != 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) AS Non_UK_Phone_Cross_Border_Conversions,

    -- Total Conversions for UK Campaigns
    SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END) AS Total_UK_Campaign_Conversions,

    -- Percentage of Cross-Border Traffic for UK Phone Users
    (SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone = 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END)) * 100 AS UK_Phone_Cross_Border_Rate,

    -- Percentage of Cross-Border Traffic for Non-UK Phone Users
    (SUM(CASE 
        WHEN asset_country = 'UK' AND country_code_by_phone != 'UK' AND conversion_country != 'UK' 
        THEN conversions ELSE 0 END) / SUM(CASE WHEN asset_country = 'UK' THEN conversions ELSE 0 END)) * 100 AS Non_UK_Phone_Cross_Border_Rate

FROM 'campaigns.csv'
GROUP BY mobility_type, duration_install_to_activation
ORDER BY UK_Phone_Cross_Border_Conversions DESC;

   mobility_type  ... Non_UK_Phone_Cross_Border_Rate
0   Private Hire  ...                      22.987058
1   Private Hire  ...                       7.796818
2   Private Hire  ...                      26.109023
3           TAXI  ...                       2.485331
4           TAXI  ...                       3.024833
5          Other  ...                       4.859543
6           TAXI  ...                       0.541107
7   Private Hire  ...                      17.862715
8          Other  ...                       5.229428
9          Other  ...                       1.354402
10          TAXI  ...                       0.781657
11         Other  ...                       4.761905

[12 rows x 7 columns]